html,body
  {height:100%;
  width:100%;
  }
#directionMap{
  height:100%;
  width:100%;
  position:absolute;
  }
#directionListScreen
  {height:100%;
  width:100%;
  position:absolute;
  display:none;
  }
#map-canvas
  {height:69%;
  width:100%;
  }
#directionHeader
  {height:22%;
  background-color:rgb(12,91,57);
  color:#ffffff;
  }
#directionIcon
  {height:75%;
  width:29%;
  float:left;
  border-right:1px solid rgb(33,113,82);
  position:relative;
  top:20%;
  }
#directionLeg
  {
  position: relative;
  top: 33%;
  transform: translateY(-67%);
  text-align:center;
  vertical-align:middle;
  font-size: 1.5em;
  }
.footer
  {width:100%;
  height:9%;
  text-align:center;
  vertical-align:middle;
  font-size:1.3em;
  }
#listBtn
  {float:right;
  }
#directionList{
  width:100%;
  height:89%;
  overflow:auto;
  }
@media (min-width:40.5em) and (max-width:60em)
  {#directionHeader
    {height:18%;
    }
  #directionIcon
    {width:20%;
    }
  .footer
    {height:7%;
    }
  #map-canvas
    {height:74%;
    }
  #directionList
    {height:91%
    }
  }
@media (min-width:60em)
  {#directionHeader
    {height:14%;
    }
  #directionIcon
    {width:11%;
    }
  .footer
    {height:6%;
    }
  #map-canvas
    {height:78%;
    }
  #directionList
    {height:92%;
    }
  }


